[app.grpc]
host = "192.168.23.1"
port = 8506

[mysql]
host = "127.0.0.1"
port = "3306"
username = "root"
password = "root"
database = "dou_sheng"

[log]
level = "debug"
path_dir = "logs"
format = "text"
to = "file"

[consul.register]
registry_name = "user-service"
host = "127.0.0.1"
port = 8500
tags = ["用户服务", "user-service"]

