[app.grpc]
host = "192.168.1.8"
port = 8506

[mysql]
host = "127.0.0.1"
port = "3306"
username = "root"
password = "root"
database = "dou_sheng"

[log]
level = "debug"
dir = "logs"
format = "text"
to = "stdout"

[consul.register]
registry_name = "user_center"
host = "127.0.0.1"
port = 8500
tags = ["用户中心", "user_center"]

[consul.discovers.api_rooter]
discover_name = "api_rooter"
address = "127.0.0.1:8500"
