[app]
name = "DouSheng"
host = "0.0.0.0"
port = "8050"

[mysql]
host = "你数据库的IP"
port = "3306"
username = "你的mysql用户名"
password = "你的mysql密码"
database = "你使用的数据库"

[log]
level = "debug"
dir = "logs"
format = "text"
to = "stdout"