[app]
name = "项目名称"

[app.http]
host = "HTTP服务的IP"
port = "HTTP服务的端口"

[app.grpc]
host = "GRPC服务的IP"
port = "GRPC服务的端口"

[mysql]
host = "你数据库的IP"
port = "3306"
username = "你的mysql用户名"
password = "你的mysql密码"
database = "你使用的数据库"

[log]
level = "日志等级"
dir = "输出路径"
format = "输出形式[JSON、TEXT]"
to = "输出目的地[标准输出、文件输出]"