[app.grpc]
host = "192.168.23.1"
port = 8510

[mysql]
host = "127.0.0.1"
port = "3306"
username = "root"
password = "root"
database = "dou_sheng"

[log]
level = "debug"
dir = "logs"
format = "text"
to = "stdout"

# 注册本服务
[consul.register]
registry_name = "interaction-service"
host = "127.0.0.1"
port = 8500
tags = ["互动服务", "interaction-service"]
